spring:
  application:
    name: analyzer

  datasource:
    url: jdbc:postgresql://localhost:5432/smart_home
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

kafka:
  bootstrap-servers: localhost:9092
  consumer:
    group-id:
      snapshots: analyzer.snapshots
      hub: analyzer.hubs
  topics:
    snapshots: telemetry.snapshots.v1
    hub: telemetry.hubs.v1

grpc:
  client:
    hub-router:
      address: 'static://localhost:59090'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext

logging:
  level:
    root: INFO
    ru.yandex.practicum.telemetry.analyzer: DEBUG